{% extends '::lyt_inicio.html.twig' %}
{# Hello {{ name }}! #}
{% block form %}
    <form action="" method="post">
        <input name="user" type="mail" placeholder="username">
        <input type="password" placeholder="password">
        <button class="btn btn-info btn-block login" type="submit">Login</button>
    	<a href="{{ path('usuario_new') }}" class="btn btn-success btn-block login" type="button">Registrarse</a>
	</form>
{% endblock %}
